[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  --api-servers=https://k8s-master-1:6443 \
  --cloud-provider= \
  --cluster-dns=10.32.0.10 \
  --cluster-domain=cluster.local \
  --container-runtime=docker \
  --docker=unix:///var/run/docker.sock \
  --cni-conf-dir=/var/lib/kubernetes/cni/net.d \
  --network-plugin=cni \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --serialize-image-pulls=false \
  --tls-cert-file=/var/lib/kubernetes/client.crt \
  --tls-private-key-file=/var/lib/kubernetes/client.key \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
